/AreaOfCircle.class
/ArmstrongNumber.class
/ArrayRevision.class
/DigitAddition.class
/Employee.class
/First1.class
/FrequencyofDigits.class
/MenuDrivenDoWhileLoop.class
/Numberreverse.class
/Pattern0101.class
/PrimeNoExample.class
/SimpleForLoop.class
/SimpleIfElseExample.class
/StarPattern.class
/StarPatternExample1.class
/Student.class
/VowelsConsnant.class
/WhileExample1.class
/greatestDigit.class
